

<div class="container-fluid mt-5">
  <div class="header row">
    <div class="mx-auto">
      <div class="col">
        <h2>welcome to <i class="fas fa-book"></i>Bookers !!</h2>

      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-5">
  <div class="footer row">
    <div class="mx-auto">
      <p>CopyRight Infratop.inc</p>
    </div>
  </div>
</div>